.yfirst{
    width: 790px;
    height: 160px;
    background: #0E76A8;
    text-align: center;
    font-size: 50px;
}

body {font-family: Arial, Helvetica, sans-serif;}
/* Full-width input fields */
textarea{
    height: 115px;
    resize: none;
}
input[type=text],textarea {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 10px;

}

/* Add a background color when the inputs get focus */
input[type=text]:focus,textarea:focus {
    outline: none;
    background: #e1e1e1;
}

/* Set a style for all buttons */

.clearbtn, .savebtn:hover {
    opacity:1;
}
.clearbtn, .savebtn {
    float: left;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
    width: 50%;
}
.clearbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
/* Add padding to container elements */
.container {
    padding: 16px;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 10px;
    width: 790px;
    height: 882px;
    text-align: center;
    margin-left: 60px;
}

/* Style the horizontal ruler */
hr.yemekb {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .clearbtn, .savebtn {
        width: 100%;
    }
}